
    
                <div class="modal-body">
                    <label for="trip_name" class="ntrip_label_name">Name</label><br/>
                    <%= f.text_field :trip_name %><br/>
                    <label for="trip_image" class="ntrip_label_img">My Trip Plan's image</label>
                    <%= f.file_field :image %></br>
                </div> <!-- End of modal-body -->
  
                <div class="modal-footer">
                   <%= f.submit 'Create', :class => 'btn btn-primary' %>
                </div>

            
